@charset "UTF-8";


.pagination {
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pull-right {
	float: right !important;
}

.pager .next>a, .pager .next>span {
	float: right;
}

.pager .previous>a, .pager .previous>span {
	float: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: 0.5em 1em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
	border: 1px solid transparent;
	border-radius: 2px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #852007;
	border-color: #852007;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #000000;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

li {
	text-align: -webkit-match-parent;
}

div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
}

.pb-6 {
	padding-bottom: 5rem !important;
}

.panel-heading {
	background-color: #f8f9fa;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	border-color: #ddd;
	height: 60px;
	font-size: 1.5em;
	padding-left: 20px;
	padding-top: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.42857143;
	color: #333;
}

.panel-body {
	background: red;
	border: 1px solid transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.btn-xs {
	margin-right: 20px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236 border: 1px solid #000;
	border-radius: 15px;
}

.btn-primary {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 15px;
}

.btn-primary:hover {
	background-color: #852007;
	color: #fff;
	border: 1px solid #852007;
}

.btn-default {
	border: 1px solid #000;
}

.chat {
	list-style: none;
}

.chat ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999999;
}

.bx-wrapper {
	width: 1320px;
	height: 300px;
	padding-bottom: 60px;
}

.bg-dark {
	text-align: center;
	height: 220px;
}

.font-crunky {
	font-family: 'Black Han Sans', sans-serif;
	text-shadow: 1px 1px 5px #6E2203;
	font-size: calc(2.5rem + 3vw);
	padding-bottom: 50px;
}

.search input {
	border-radius: 20px;
}

.search select {
	border-radius: 20px;
}

body {
	background-color: #f3f3f3;
}

.chat {
	padding: 30px;
}
